
.viewport {
    width: device-width ;
    zoom: 1.0 ;
  }

.col{
    margin-bottom: 175px
}

.container{
    position: relative; 
    top: 100px;

}

.gym-day{
    font-size:14;
    color:black;
    background-color:grey;
    color:white;
    border:2px solid #A22F16;
    width: 140px;
    border-radius:25px;
}

.AddPlan {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 110px;
    left: 100px;
    border-radius:25px
}

.AddPlan:hover {
    background-color: #C82300;
    color: white;
}

.EditPlan {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 110px;
    left: 250px;
    border-radius:25px
}

.EditPlan:hover {
    background-color: #C82300;
    color: white;
}

.DeletePlan {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 110px;
    left: 420px;
    border-radius:25px
  
}

.DeletePlan:hover {
    background-color: #C82300;
    color: white;
}

.SavePlan {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 20px;
    left: 1000;
    height: 50px;
    width: 150px;
    border-radius:25px
}

.SavePlan:hover {
    background-color: #C82300;
    color: white;
}

.SharedPlans {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 20px;
    left: 100;
    height: 50px;
    width: 150px;
    border-radius:25px
}

.SharedPlans:hover {
    background-color: #C82300;
    color: white;
}

.DropD {
    border: 2px solid grey;
    border-radius:25px;
    position:absolute;
    top:130px;
    left:1010px;
}

.Filter {
    background-color: grey;
    border-radius:25px;
    color: white;
    border: 2px solid #A22F16;
    position: absolute;
    top: 128px;
    left: 1107px;
}

.Filter:hover {
    background-color: #C82300;
    color: white;
}

.daytable {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
}

.tableDel {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    border-radius:25px
}
.tableDel:hover {
    background-color: #C82300;
    color: white;
    border: 2px solid #A22F16;
    border-radius:25px
}

.tableUpd {
    background-color: grey;
    color: white;
    border: 2px solid #A22F16;
    border-radius:25px
}
.tableUpd:hover {
    background-color: #C82300;
    color: white;
    border: 2px solid #A22F16;
    border-radius:25px
}

.HeaderCenter{
    text-align: center;
    font-size: 70px;
    font-family: fantasy;
}

.Form{
    z-index: 10;
    text-align: center;
    position:absolute;
    top:0px;
    left:235px;
    border-radius:25px;
}

.gym-day{
    text-align: center; 
}


#allexercises tr:nth-child(even){background-color: rgb(177, 175, 175);}
#allexercises tr:hover {background-color: #A22F16; }

#montable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#montable tr:hover {background-color: #A22F16; }

#tuetable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#tuetable tr:hover {background-color: #A22F16; }

#wedtable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#wedtable tr:hover {background-color: #A22F16; }

#thutable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#thutable tr:hover {background-color: #A22F16; }

#fritable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#fritable tr:hover {background-color: #A22F16; }

#sattable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#sattable tr:hover {background-color: #A22F16; }

#suntable tr:nth-child(even){background-color: rgb(177, 175, 175);}
#suntable tr:hover {background-color: #A22F16; }
